/* Add Circuit Manager */

.modal-container.add-circuit-manager {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0 0 0 /20%);
  z-index: 1;
}

.add-circuit-manager.show {
  display: block;
}

.add-circuit-manager .modal {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 90%;
  min-height: 400px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #dfe0eb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 0;
  z-index: 2;
}

.add-circuit-manager .modal > i {
  position: absolute;
  top: 10px;
  right: 13px;
  color: #c5c7cd;
  cursor: pointer;
  font-size: 1.5rem;
}

.add-circuit-manager .modal > i:hover {
  color: rgb(37, 39, 51);
}


/* Remove Circuit Manager */

.modal-container.remove-circuit-manager {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0 0 0 /40%);
  z-index: 1;
}

.remove-circuit-manager.show {
  display: block;
}

.remove-circuit-manager .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: #fff;
  border: 1px solid #dfe0eb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 4px;
  z-index: 2;
}

.remove-circuit-manager .modal > i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c5c7cd;
  cursor: pointer;
  font-size: 1.3rem;
}

.remove-circuit-manager .modal > i:hover {
  color:rgb(37, 39, 51);
}

.remove-circuit-manager .modal > h1 {
  text-align: center;
  padding: 1rem;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: rgb(37, 39, 51);
  border-bottom: 2px solid #dfe0eb;
}

.remove-circuit-manager .modal > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  padding: 1rem;
  padding-top: 1.5rem;
  text-align: center;
}

.remove-circuit-manager .modal > .flex {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.remove-circuit-manager .modal button {
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.remove-circuit-manager .modal button.cancel {
  border: 1px solid #fec400;
  color: #fec400;
}

.remove-circuit-manager .modal button.cancel:hover {
  background-color: rgba(0 0 0 / 2%);
}

.remove-circuit-manager .modal button.delete {
  border: 1px solid #f12b2c;;
  color: #fff;
  background-color: #f12b2c;
}

.remove-circuit-manager .modal button.delete:hover {
  background-color: #cc2525;
}

.remove-circuit-manager .modal button i {
  min-width: 20px;
}