.table-box {
  margin: 1rem 0;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dfe0eb;
}

/* Table Title */

.table-title {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.table-title p {
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 5px;
  margin-right: 20px;
  letter-spacing: 0.4px;
  color: #252733;
}

.table-title button {
  background-color: #454653;
  color: #fff;
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 17px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.table-title button:hover {
  background-color: #363740;
}

.table-title div {
  margin-left: auto;
}

.table-title .sort {
  margin-right: 1rem;
}

.table-title :is(.sort, .filter) {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #4b506d;
}

.table-title :is(.sort, .filter) i {
  margin-right: 5px;
  color: #e5e5e5;
}

/* Table Container */

.table-container::-webkit-scrollbar {
  width: 20px;
}

.table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Table */

table {
  margin-top: 1rem;
  width: 100%;
  text-align-last: left;
  border-spacing: 0;
}

/* Table Header */

table th {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #dfe0eb;
}

/* Table Body */

tbody tr {
  cursor: pointer;
}

td {
  padding: 1.3rem 1rem;
  border-bottom: 1px solid #dfe0eb;
}

td p {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tbody tr:hover {
  background-color: #3752ff07;
}

tbody td p:first-child {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
  padding-bottom: 4px;
}

tbody td p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

tbody td.flex {
  display: flex;
  align-items: center;
}

tbody td.flex img {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin-right: 10px;
}

tbody td button {
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

tbody td button.red {
  background-color: #f12b2c;
}

tbody td button.yellow {
  background-color: #fec400;
}

tbody td button.green {
  background-color: #29cc97;
}

tbody td:last-child {
  cursor: pointer;
}

tbody td i {
  color: #c5c7cd;
  cursor: pointer;
}

/* Table Footer */

tfoot td {
  border-bottom: 1px solid transparent;
}

tfoot td p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}

tfoot td p span {
  color: #4b506d;
  font-size: 16px;
  margin-right: 5px;
}

tfoot td:last-child {
  display: flex;
  align-items: center;
  width: 100%;
}

tfoot td:last-child p {
  margin-right: auto;
}

tfoot td:last-child i {
  margin-left: 1rem;
  color: #c5c7cd;
}


/* Dropdown Option [Update & Delete] */

td {
  position: relative;
  z-index: inherit;
}

td:hover:last-child > .dropdown-option {
  display: block;
}

td .dropdown-option {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #dfe0eb;
  right: 50%;
  top: 50%;
  z-index: 1;
  border-radius: 4px;
}


td .dropdown-option span {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .4px;
  color: #252733;
  padding: .5rem 1rem;
  border-bottom: 1px solid #dfe0eb;
}

td .dropdown-option span:last-child {
  border-bottom: 1px solid transparent;
}

td .dropdown-option span:hover {
  background-color: rgba(0 0 0 / 2%);
  cursor: pointer;
}

td .dropdown-option span i {
  min-width: 20px;
  color: #252733;
}